body {
	text-align: left;
	font-size: 22px;
	background: #44484c;
	color: white;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	line-height: 1.75em;
	margin: 0px;
	padding: .25em 1em;
	vertical-align: super;
	letter-spacing: 1px;
}

#loadingDiv {
	margin-left: auto;
	margin-right: auto;
}

#loadingAnim {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#responseDiv {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	padding-bottom: 2em;
	display: block;
}

#statusDiv {
	font-size: 500%;
	text-align: center;
	margin: 0px auto;
	line-height: 1em;
	margin-bottom: .25em;
	font-weight: bold;
}

#dlcDisclaimer {
	font-size: 11px;
}

#responseGif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#howWorkGif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

h3 {
	margin-top: 40px;
	margin-bottom: -2px;
}

#searchShow {
	margin-right: 10px;
}

/* CSS for mobile deivces */
@media only screen and (max-device-width: 480px) {
	body {
		font-size: 16px;
		line-height: 1.75em;
		padding: .25em 1em;
	}

	#statusDiv {
		font-size: 400%;
	}

	#dlcDisclaimer {
		font-size: 8px;
	}
}
