@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.channel-shows {
  margin-top: 10px;
}

.channel-shows p {
  margin-bottom: 0px;
}

.search-group {
  margin: 20px auto 20px auto;
}
